<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('css.ejs') %>
  <title>Document</title>
</head>

<body>
  <div class="flex flex-column m-15">
    <div class="flex flex-row m-5">
      <label>Number 1</label>
      <input type="text" id="num1Input">
    </div>
    <div class="flex flex-row m-5">
      <label>Number 2</label>
      <input type="text" id="num2Input">
    </div>
    <button class="m-15" onclick=sendSum() style="padding: 20px; max-width: 10rem;">
      Sum numbers
    </button>
  </div>
</body>
<footer>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    var axios = require('axios').default;
    function sendSum() {
      const num1 = document.getElementById('num1Input').value;
      const num2 = document.getElementById('num2Input').value;
      console.log(num1, num2)
      axios.get(`/api/sum?num1=${num1}&num2=${num2}`).then(res => {
        const { data } = res;
        console.log('data', data)
        if (data && data.result) {
          window.location = `/result/${data.result}`
        }
      });
    }
  </script>
</footer>

</html>