<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('css.ejs') %>
  <title>Result</title>
</head>
<body>
  <h3>Result of the operation is <strong><%= result %></strong></h3>
  <a href="http://localhost:8080/">Go back</a>
</body>
</html>
